<?xml version="1.0"?>

<launch>

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="robot_namespace" default="/"/>
    <!-- Spawn raspbot in gazebo -->
    <node name="spawn_raspbot_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model raspbot
              -robot_namespace $(arg robot_namespace)" />

    

</launch>