<?xml version="1.0"?>

<launch>

    <include file="$(find raspbot_gazebo)/launch/spawn_raspbot.launch"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find raspbot_gazebo)/worlds/empty.world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

</launch>














<!-- 
paused: Start Gazebo in a paused state (default false)

use_sim_time: Tells ROS nodes asking for time to get the Gazebo-published simulation time, published over the ROS topic /clock (default true)

gui: Launch the user interface window of Gazebo (default true)

headless (deprecated) recording (previously called headless): Enable gazebo state log recording

debug: Start gzserver (Gazebo Server) in debug mode using gdb (default false)

verbose: Run gzserver and gzclient with verbose, printing errors and warnings to the terminal (default false)

server_required: Terminate launch script when gzserver (Gazebo Server) exits (default false)

gui_required: Terminate launch script when gzclient (user interface window) exits (default false)  -->
