<?xml version="1.0"?>

<launch>
    <arg name="base_frame"       default="base_link"/>
    <arg name="odom_frame"       default="odom"/>
    <arg name="imu_frame"        default="imu_link"/>

    <arg name="odom_topic"       default="wheel_odom"/>
    <arg name="imu_topic"        default="imu/data"/>
    <arg name="publish_odom"     default="true"/>

    <arg name="udev_port"        default="/dev/raspbot_com_port"/>
    <arg name="baud"             default="115200"/>

    <include file="$(find raspbot_bringup)/launch/raspbot_minimal.launch" >
        <arg name="base_frame"       value="$(arg base_frame)"/>
        <arg name="odom_frame"       value="$(arg odom_frame)"/>
        <arg name="udev_port"        value="$(arg udev_port)"/>
        <arg name="odom_topic"       value="$(arg odom_topic)"/>
        <arg name="imu_topic"        value="$(arg imu_topic)"/>
        <arg name="publish_odom"     value="$(arg publish_odom)"/>
        <arg name="baud"             value="$(arg baud)"/>
    </include>

    <!-- <node pkg="raspbot_bringup"  type="raspbot_bringup__test_node" name="test_node" output="screen"/> -->

    <node pkg="tf" type="static_transform_publisher" name="baselink_imu_broadcaster" args="0 0 0 0 0 0 base_link imu_link 100"  />
    <node pkg="rviz" type="rviz" name="rviz" args="-d  $(find raspbot_bringup)/rviz/bringup.rviz" />
</launch>
